html {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}
p {
    max-width: 800px;
    padding-bottom: 20px;
}
h1 {
    background-color:rgba(0,0,0,0.7);
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1 {
    background-image: url("https://www.armadninoviny.cz/domains/0001/userfiles/files/bren_br_1b.jpg");
}
  
.bg2 {
    background-image: url("https://docplayer.cz/docs-images/73/68573300/images/2-3.jpg");
}

.bg3 {
    background-image: url("https://cdn.xsd.cz/original/7607afc757db32d0aacbebdcb421cb3d.jpg");
}